<div class="page-header">
  <h3 nz-typography>Danh sách Tin tức - Sự kiện</h3>
  <button nz-button nzSize="large" nzType="primary" (click)="handleClickAdd()">
    <span nz-icon nzType="plus-circle"></span> Thêm mới
  </button>
</div>
<nz-table
  #basicTable
  [nzData]="listNews"
  [nzNoResult]="empty"
  [nzLoading]="loading"
>
  <thead>
    <tr>
      <th>Tiêu đề</th>
      <th>Thumbnail</th>
      <th>Ngày bắt đầu</th>
      <th>Ngày kết thúc</th>
      <th>Ngày cập nhật</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>
        <a [routerLink]="'/news/update/' + data.id">{{ data.title }}</a>
      </td>
      <td><img class="thumbnail" [src]="data.thumbnail" alt="" /></td>
      <td>{{ data.effectiveDate[0] | date : "dd/MM/yyyy" }}</td>
      <td>{{ data.effectiveDate[1] | date : "dd/MM/yyyy" }}</td>
      <td>{{ data.modifiedDate | date : "dd/MM/yyyy" }}</td>
    </tr>
  </tbody>
</nz-table>
<ng-template #empty>
  <app-empty-data
    [btnLabel]="'Thêm mới'"
    [callback]="theBoundCallback"
  ></app-empty-data>
</ng-template>
